<% include partials/header %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Configurations</li>
</ol>

<article>
  <h2>Configurations</h2>
  <p>A configuration will route comments from an <a href="/installations">Installation</a> to a Slack Channel.</p>
  <% include components/configurations.ejs %>
</article>

<% include partials/footer %>