<% include partials/header %>

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item active">Installations</li>
</ol>
<article>
  <h2>Installations</h2>
  <p>An installation is a Talk installation that is configured with the <a href="https://www.npmjs.com/package/@coralproject/talk-plugin-slack-bouncer">@coralproject/talk-plugin-slack-bouncer</a> plugin.</p>
  <% include components/installations %>
</article>

<% include partials/footer %>